https://mastergroosha.github.io/telegram-tutorial/docs/lesson_01/
Лутц_М_Изучаем_Python,_том_1,_5_е_издание_2019.pdf
Лутц_М_Изучаем_Python,_том_2,_5_е_издание_2020.pdf
Программирование_на_Python,_том_1,_4_е_издание_Марк_Лутц.pdf
Программирование_на_Python,_том_2,_4_е_издание_Марк_Лутц.pdf
https://www.youtube.com/playlist?list=PLV0FNhq3XMOJ31X9eBWLIZJ4OVjBwb-KM
https://www.youtube.com/playlist?list=PLe-iIMbo5JOKsNFYjQMyxvaZ0VBueDyi4
https://www.youtube.com/watch?v=773WsFJDaIo&pp=ygUPZGF0ZXRpbWUgcHl0aG9u
https://www.youtube.com/watch?v=0-nJiNlhHUo&pp=ygUObG9nZ2luZyBweXRob24%3D
https://www.youtube.com/watch?v=Lz2XAu9Q8jk&pp=ygULcHl0eiBweXRob24%3D


